<%= form_tag(admin_movie_theaters_path, method: :post) do %>
  <% if @movie_theater && @movie_theater.errors.any? %>
    <div class="error-explanation">
      <ul>
        <% @movie_theater.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= label_tag :movie, 'Movie Name' %>
    <%= text_field_tag :movie, nil, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= label_tag :city, 'City Name' %>
    <%= text_field_tag :city, nil, class: "form-control" %>
  </div>
  <%= submit_tag 'Salvar', class: 'btn btn-info' %>
<% end %>
<%# <div class="form-inputs"> %>
<%# <%= label_tag :movie, 'Movie Name' %>
<%# <%= text_field_tag :movie %>
<%# <%= label_tag :city, 'City Name' %>
<%# <%= text_field_tag :city %>
<%# </div> %>
<%# <div class="form-actions"> %>
<%# <%= submit_tag 'Salvar', class: 'btn btn-info' %>
<%# </div> %>
<%# <% if @movie_theater && @movie_theater.errors.any? %>
<%# <div class="error-explanation"> %>
<%# <ul> %>
<%# <% @movie_theater.errors.full_messages.each do |msg| %>
  <%# <li><%= msg </li>%>
  <%# <% end %>
  <%# </ul> %>
  <%# </div> %>
  <%# <% end %> 