<p style="color: green"><%= notice %></p>

<%= render @movie_theater %>

<div>
  <%= link_to "Edit this movie theater", edit_movie_theater_path(@movie_theater) %> |
  <%= link_to "Back to movie theaters", movie_theaters_path %>

  <%= button_to "Destroy this movie theater", @movie_theater, method: :delete %>
</div>
