<div class="container-additional-info-user">
  <div class="container-birth-date">
    <div class="container-month">
      <div class="container-span-birth-date">
        <span>Data Nascimento: </span>
      </div>
      <%= f.simple_fields_for :additional_info_user do |aiu| %>
        <%= aiu.input :birth_date, required: false, as: :date, start_year: Date.today.year, end_year: 1900, wrapper_html: { class: 'container-birth-date-custom' } %>
      <% end %>
    </div>
    <%= f.simple_fields_for :additional_info_user do |aiu| %>
      <div class="container-gender-phone">
        <%= aiu.input :phone, placeholder: 'Phone', label: false, input_html: { class: "mask-phone" } %>
        <%= aiu.input :gender, as: :select, collection: ['Male', 'Female'], prompt: "I'd rather not say" %>
      </div>
      <div class="container-cep-custom">
        <%= aiu.input :cep, placeholder: 'CEP', label: false, input_html: { class: "mask-cep" } %>
        <button type="button" id="redirectButton" class="button-cep-custom">OK</button>
        <a class="link-dont-know-my-cep" href="#">Não sei meu CEP</a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-sort-up-new-user">
          <path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/>
        </svg>
        <span class="span-error-cep">CEP inválido ou não encontrado</span>
      </div>
      <div class="container-logro-num-comple-refe">
        <%= aiu.input :logradouro, placeholder: 'Logradouro', label: false, input_html: { class: "input-logradouro" } %>
        <%= aiu.input :numero, placeholder: 'Número', label: false, input_html: { class: "input-numero" } %>
        <%= aiu.input :complemento, placeholder: 'Complemento', label: false, input_html: { class: "input-complemento" } %>
        <%= aiu.input :referencia, placeholder: 'Referência', label: false, input_html: { class: "input-referencia" } %>
      </div>
      <div class="container-neighborhood-state-city">
        <%= aiu.input :bairro, placeholder: 'Bairro', label: false, input_html: { class: "input-bairro" } %>
        <%= aiu.input :estado, as: :select, label: false, collection: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE',
              'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'], prompt: "Estado", input_html: { class: "input-estado" } %>
        <%= aiu.input :cidade, placeholder: 'Cidade', label: false, input_html: { class: "input-cidade" } %>
      </div>
    <% end %>
  </div>
</div>