<div class="container-new-user-main">
  <div class="container-info-register-buy-tecket">
    <h2 class="h2-register">Cadastre-se</h2>
    <p class="p-info-buy-ticket">Compre ingressos e combos de pipoca com conforto e comodidade.</p>
  </div>
  <%= simple_form_for(resource, html: { class: 'login-form' }, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-inputs">
      <%= render "devise/partial_registrations/inputs_user_register", f: f %>
      <%= render "devise/partial_registrations/inputs_additional_info_user", f: f %>
      <div class="form-check container-check">
        <input class="form-check-input input-checkbox" type="checkbox" id="invalidCheck" required>
        <label class="form-check-label label-receive-news" for="invalidCheck">
          Quero receber novidades e mensagens da Ingresso.com.
        </label>
      </div>
      <div class="container-main-recaptcha-and-spans">
        <div class="container-span-regulated-use-site">
          <span>O uso de nosso site e aplicativo é regulado por nossos <a class="span-color-blue-highlight">Termos de Uso.</a> Maiores informações sobre como usamos seus dados pessoais podem ser encontradas em nossa <a class="span-color-blue-highlight">Política de Privacidade</a> e <a class="span-color-blue-highlight">Política de Cookies.</a></span>
        </div>
        <div class="container-span-delete-account">
          <span>Deseja excluir sua conta? Siga os <a class="span-color-blue-highlight">passos a seguir.</a></span>
        </div>
        <div class="container-reCAPTCHA">
          <span>Este site é protegido pelo reCAPTCHA e pelo Google aplicando as seguintes <a class="span-color-blue-highlight">Políticas de Segurança</a> e <a class="span-color-blue-highlight">Termos de Serviço.</a></span>
          <div 
            class="g-recaptcha"
            data-sitekey="6LfA6AUpAAAAAKuDPHeFgdUSz_dVtzPRrCTkPSbl"
            data-callback="recaptchaCallbackChangePassword">
          </div>
        </div>
      </div>
    </div>
    <div class="container-create-backlogin">
      <div class="container-back-the-login-link">
        <%= render "devise/shared/links" %>
      </div>
      <div class="container-button">
        <%= render "devise/shared/button_submit", f: f, text: 'CONTINUAR' %>
      </div>
    </div>
    <%# AMANHAR COLOCAR VALIDAÇÃO OBRIGATORIO INFORMA DATA DE NASCIMENTO %>
  <% end %>
</div>
