<div class="container-new-user-main">
  <div class="container-info-register-buy-tecket">
    <h2 class="h2-register">Cadastre-se</h2>
    <p class="p-info-buy-ticket">Compre ingressos e combos de pipoca com conforto e comodidade.</p>
  </div>
  <%= simple_form_for(resource, html: { class: 'login-form' }, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-inputs">
      <%= render "devise/partial_registrations/inputs_user_register", f: f %>
      <div class="container-additional-info-user">
        <div class="container-birth-date">
          <div class="container-month">
            <div class="span-birth-date">
              <span>Data Nascimento: </span>
            </div>
            <%= f.simple_fields_for :additional_info_user do |aiu| %>
              <%= aiu.input :birth_date, required: false, as: :date, start_year: Date.today.year, end_year: 1900, wrapper_html: { class: 'container-birth-date-custom' } %>
            <% end %>
          </div>
          <%= f.simple_fields_for :additional_info_user do |aiu| %>
            <div class="container-gender-phone">
              <%= aiu.input :phone, placeholder: 'Phone', label: false, input_html: { class: "mask-phone" } %>
              <%= aiu.input :gender, as: :select, collection: ['Male', 'Female'], prompt: "I'd rather not say" %>
            </div>
            <div class="container-cep-custom">
              <%= aiu.input :cep, placeholder: 'CEP', label: false, input_html: { class: "mask-cep" } %>
              <button type="button" id="redirectButton" class="button-cep-custom">OK</button>
              <a class="link-dont-know-my-cep" href="#">Não sei meu CEP</a>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-sort-up-new-user">
                <path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/>
              </svg>
              <span class="span-error-cep">CEP inválido ou não encontrado</span>
            </div>
            <div class="container-logro-num-comple-refe">
              <%= aiu.input :logradouro, placeholder: 'Logradouro', label: false, input_html: { class: "input-logradouro" } %>
              <%= aiu.input :numero, placeholder: 'Número', label: false, input_html: { class: "input-numero" } %>
              <%= aiu.input :complemento, placeholder: 'Complemento', label: false, input_html: { class: "input-complemento" } %>
              <%= aiu.input :referencia, placeholder: 'Referência', label: false, input_html: { class: "input-referencia" } %>
            </div>
            <div class="container-neighborhood-state-city">
              <%= aiu.input :bairro, placeholder: 'Bairro', label: false, input_html: { class: "input-bairro" } %>
              <%= aiu.input :estado, as: :select, label: false, collection: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE',
              'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'], prompt: "Estado", input_html: { class: "input-estado" } %>
              <%= aiu.input :cidade, placeholder: 'Cidade', label: false, input_html: { class: "input-cidade" } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-check container-check">
        <input class="form-check-input input-checkbox" type="checkbox" id="invalidCheck" required>
        <label class="form-check-label label-receive-news" for="invalidCheck">
          Quero receber novidades e mensagens da Ingresso.com.
        </label>
      </div>
      <div class="container-main-recaptcha-and-spans">
        <div class="container-span-regulated-use-site">
          <span>O uso de nosso site e aplicativo é regulado por nossos <a class="span-color-blue-highlight">Termos de Uso.</a> Maiores informações sobre como usamos seus dados pessoais podem ser encontradas em nossa <a class="span-color-blue-highlight">Política de Privacidade</a> e <a class="span-color-blue-highlight">Política de Cookies.</a></span>
        </div>
        <div class="container-span-delete-account">
          <span>Deseja excluir sua conta? Siga os <a class="span-color-blue-highlight">passos a seguir.</a></span>
        </div>
        <div class="container-reCAPTCHA">
          <span>Este site é protegido pelo reCAPTCHA e pelo Google aplicando as seguintes <a class="span-color-blue-highlight">Políticas de Segurança</a> e <a class="span-color-blue-highlight">Termos de Serviço.</a></span>
          <div 
            class="g-recaptcha"
            data-sitekey="6LfA6AUpAAAAAKuDPHeFgdUSz_dVtzPRrCTkPSbl"
            data-callback="recaptchaCallbackChangePassword">
          </div>
        </div>
      </div>
    </div>
    <div class="container-create-backlogin">
      <div class="container-back-the-login-link">
        <%= render "devise/shared/links" %>
      </div>
      <div class="container-button">
        <%= render "devise/shared/button_submit", f: f, text: 'CONTINUAR' %>
      </div>
    </div>
    <%# AMANHAR COLOCAR VALIDAÇÃO OBRIGATORIO INFORMA DATA DE NASCIMENTO %>
  <% end %>
</div>
