<div class="container-banner-movie-and-chose-movie-theater">
  <div class="container-movie-banner-and-more-info">
    <div class="container-banner-background">
      <%= image_tag @movie.image_background, class: "movie-banner-background-chose-movie-theater", alt: @movie.title %>
      <div class="container-banner-info-movie">
        <%= render 'chose_movie_theater_partial/banner_main' %>
        <%= render 'chose_movie_theater_partial/info_movie' %>
      </div>
    </div>
  </div>
  <div class="container-chose-movie-theater">
    <ul class="ul-chose-sessions-aboutthefilm">
      <li class="li-chose-sessions">Sessões</li>
      <li class="li-chose-aboutthefilm">Sobre o filme</li>
    </ul>
    <div class="container-date-for-watch-film" id="container-date-for-watch-film-id">
      <%# <div class="container-date-chose-movie-theater">
        <span class="span-day-month"></span>
        <span class="span-name-day"></span>
      </div> %>
    </div>
    <div class="container-category-main-chose-movie-theater" style="width: 100%; overflow-x: auto; overflow-y: hidden;">
      <div class="container-category-movie-chose-movie-theater">
        <div class="container-category-name">VIP</div>
        <div class="container-category-name">DUBLADO</div>
        <div class="container-category-name">TELAS GIGANTES/PLF</div>
        <div class="container-category-name">NORMAL</div>
        <div class="container-category-name">LEGENDADO</div>
        <div class="container-category-name">XD</div>
        <div class="container-category-name">D-BOX</div>
        <div class="container-category-name">3D</div>
      </div>
    </div>
    <div class="container-other-cinemas-chose-movie-theater">
      <span class="span-other-cinemas">Outros Cinemas</span>
      <div class="container-line-chose-movie-theater"></div>
    </div>
    <div class="container-location-movie-theater-main">
      <% @cinemas.each do | cinema | %>
        <div class="container-location-movie-theater">
          <div class="container-top-location-movie-theater">
            <div class="container-svg-heart-info-location-movie">
              <div class="svg-heart">
                <%= render "chose_movie_theater_svgs_partials/svg_heart" %>
              </div>
              <div class="container-namecinema-district">
                <p class="p-name-cinema"><%= cinema.name_cinema %></p>
                <span class="span-district"><%= cinema.district %></span>
              </div>
            </div>
            <div class="container-seats-price-details">
              <div class="container-seats">
                <%= render "chose_movie_theater_svgs_partials/svg_seats" %>
                <span>Assentos</span>
              </div>
              <div class="container-price">
                <%= render "chose_movie_theater_svgs_partials/svg_price" %>
                <span>Preços</span>
              </div>
              <div class="container-details">
                <%= render "chose_movie_theater_svgs_partials/svg_details" %>
                <span>Preços</span>
              </div>
            </div>
          </div>
          <div class="container-line-between-svgs-schedule"></div>
          <% cinema_movies = CinemaMovie.select(:screening_schedule).where(movie_id: @movie.id, cinema_id: cinema.id, region_id: @region_city_id.id) %>
          <div class="container-schedule-movie-theater">
            <% cinema_movies.each do |cinema_movie| %>
              <% schedule_parts = cinema_movie.screening_schedule.split(",") %>
              <div class="container-telasgigantesplg-dublado">
                <%= render_dublado_container(schedule_parts) %>
                <div class="container-p-schedule-all">
                  <%= render_time_buy_container(schedule_parts) %>
                </div>
              </div>
              <div class="container-telasgigantesplg-dublado">
                <%= render_vip_dublado_container(schedule_parts) %>
                <div class="container-p-schedule-all">
                  <%= render_time_buy_vip_dublado_container(schedule_parts) %>
                </div>
              </div>
              <div class="container-telasgigantesplg-dublado">
                <%= render_vip_3d_dublado_container(schedule_parts) %>
                <div class="container-p-schedule-all">
                  <%= render_time_buy_vip_3d_dublado_container(schedule_parts) %>
                </div>
              </div>
              <div class="container-telasgigantesplg-dublado">
                <%= render_3d_dbox_dublado_container(schedule_parts) %>
                <div class="container-p-schedule-all">
                  <%= render_time_buy_3d_dbox_dublado_container(schedule_parts) %>
                </div>
              </div>
              <div class="container-telasgigantesplg-dublado">
                <%= render_telasgigantes_dublado_container(schedule_parts) %>
                <div class="container-p-schedule-all">
                  <%= render_time_buy_telasgigantes_dublado_container(schedule_parts) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>