<div class="container-main-header-section" >
  <div class="container-main-highlight">
    <div class="container-img-highlight">
      <%= image_tag @movie_highlight.image_background, class: "movie-image-highlight", alt: @movie_highlight.title %>
    </div>
    <div class="container-info-movie-highlight">
      <div class="container-rating-gender-movie">
        <div class="container-span-rating">
          <span class="span-rating"><%= @movie_highlight.movie_rating %></span>
        </div>
        <span class="span-gender"><%= @movie_highlight.gender %></span>
      </div>
      <div class="container-title">
        <h2 class="h2-custom"><%= @movie_highlight.title %></h2>
      </div>
      <div class="container-description" >
        <span class="span-description" id="description"><%= @movie_highlight.description %></span>
      </div>
      <div class="container-buttons">
        <button class="button-ticket">Ingressos</button>
        <button class="button-watch-trailer">Assistir Trailer</button>
      </div>
    </div>
  </div>
</div>
<section class="py-5 section-custom">
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="h1-custom" >Em Alta</h1>
        <div class="ms-2 me-2 carousel-custom" id="movies-container">
          <% if @movies == nil %>
            <div>
              <h1>NULL</h1>
            </div>
          <% end %>
          <% @movies.each_with_index do |movie, index| %>
            <% if user_signed_in? %>
              <div class="col-custom col-custom<%= index + 1 %>" data-route="<%= chose_movie_theater_index_path(id: movie.id) %>">
                <div class="card card-movie">
                  <%= image_tag movie.image_main, class: "movie-image", alt: movie.title %>
                </div>
                <div class="custom-card-body">
                  <h2><%= movie.title %></h2>
                </div>
              </div>
            <% else %>
              <div class="col-custom col-custom<%= index + 1 %>" data-route="<%= new_user_session_path %>">
                <div class="card card-movie">
                  <%= image_tag movie.image_main, class: "movie-image", alt: movie.title %>
                </div>
                <div class="custom-card-body">
                  <h2><%= movie.title %></h2>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-arrow-left" >
    <i class="fa-solid fa-angle-left i-arrow-custom-left"></i>
    <span class="visually-hidden">Previous</span>
  </div>
  <div class="container-arrow-right" >
    <i class="fa-solid fa-angle-right i-arrow-custom-right"></i>
    <span class="visually-hidden">Next</span>
  </div>
</section>
</div>