<nav class="navbar navbar-expand-lg nav-custom">
  <div class="container px-4 px-lg-5 container-nav">
    <a class="navbar-brand" href="#!">
      <img src="https://ingresso-a.akamaihd.net/catalog/img/ingresso-logo-v1-desktop-final.svg" alt="ingresso-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <%# <li class="nav-item"><a class="nav-link" aria-current="page" href="<%= root_path > ">Home</a></li> %>
        <%# <%= render 'layouts/store/user_signed_in' %>
        <%= render 'layouts/store/chose_region' %>
      </ul>
      <form class="d-flex">
        <div class="container-right">
          <div class="div-loupe">
            <%= render 'layouts/application_svgs_partials/svg_loupe' %>
          </div>
          <div class="container-svg-user-login-logout">
            <div class="div-loupe">
              <%= render 'layouts/application_svgs_partials/svg_user_body' %>
            </div>
            <%= render 'layouts/store/login_or_register' %>
          </div>
          <div class="div-loupe">
            <%= render 'layouts/application_svgs_partials/svg_question_mark' %>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>