<%= render 'chose_seats_and_more_partial/nav' %>
<div class="container-body-chose-seats-and-more">
  <div class="container-seats-type-tickets-bomboniere-payment">
    <div class="div-svg-chose-of-seats">
      <%= render "chose_seats_and_more_svg_partial/svg_seats" %>
    </div>
    <div class="line-white-1"></div>
    <span class="span-chose-ofseats">ESCOLHA DE ASSENTOS</span>
    <div class="div-svg-tickets">
      <%= render "chose_seats_and_more_svg_partial/svg_tickets" %>
    </div>
    <div class="line-white-1"></div>
    <div class="div-svg-bomboniere">
      <%= render "chose_seats_and_more_svg_partial/svg_bomboniere" %>
    </div>
    <div class="line-white-1"></div>
    <div class="div-svg-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_payment" %>
    </div>
  </div>
  <div class="container-chose-seat-number-resume-order-main">
    <div class="container-chose-seat-number">
      <div class="container-location-date-hour-movie">
        <div class="container-svg-name">
          <%= render "chose_seats_and_more_svg_partial/svg_location" %>
          <span class="span-location-chose-seats-and-more"></span>
        </div>
        <div class="container-svg-name">
          <%= render "chose_seats_and_more_svg_partial/svg_calendar" %>
          <span class="span-calendar-chose-seats-and-more"></span>
        </div>
        <div class="container-svg-time-name">
          <%= render "chose_seats_and_more_svg_partial/svg_time" %>
          <span class="span-time-chose-seats-and-more"></span>
        </div>
        <div class="container-name-movie-location-hour-date">
        </div>
      </div>
      <div class="container-seats-chose-seats-and-more-main">
        <div class="container-seats-chose-seats-and-more-1">
          <div class="container-seats-chose-seats-and-more-2">
          </div>
        </div>
        <div class="container-show-number-seats">
          <span class="span-show-number-seats">Exibir números dos assentos</span>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle" class="toggle-checkbox">
            <label for="toggle" class="toggle-label"></label>
          </div>
        </div>
        <div class="container-zoomin-zoomout">
          <div class="container-svg-zoom-more">
            <%= render "chose_seats_and_more_svg_partial/svg_zoom_in" %>
          </div>
          <div class="container-progress-bar">
            <div class="container-ball-progress-bard"></div>
          </div>
          <div class="container-svg-zoom-less">
            <%= render "chose_seats_and_more_svg_partial/svg_zoom_out" %>
          </div>
        </div>
      </div>
      <%= render "chose_seats_and_more_partial/caption_all_chose_seats" %>
    </div>
    <%= render "chose_seats_and_more_partial/order_summary" %>
    <div class="container-types-tickets">
      <div class="container-clube-uol">
        <div class="container-img-clube-uol">
          <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1703514340/logo_header_hksemr.png" alt="clube-uol">
        </div>
        <p class="paragraph-clube-uol">Assinante UOL tem isenção de taxa de serviço em até 2 ingressos por mês. <span class="span-clube-uol">Saiba mais</span></p>
      </div>
      <div class="container-types-tickets">
        <div class="container-tickets">
          <div class="container-ticket-name-price">
            <div class="container-ticket">
              <%= render "chose_seats_and_more_partial/svg_tickets_full" %>
            </div>
            <div class="container-paragraph-and-price">
              <span>Inteira</span>
              <span>R$ 38,76</span>
            </div>
          </div>
          <div class="container-more-less">
            <div class="container-less">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" class="injected-svg" data-src="/static/images/icons/Minus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Icon / Simple / Minus">
                  <path id="Minus-272" fill-rule="evenodd" clip-rule="evenodd" d="M2.61 6.42707C2.41584 6.42707 2.25 6.20711 2.25 6C2.25 5.79289 2.4074 5.625 2.60156 5.625L9.39844 5.625C9.5926 5.625 9.75 5.79289 9.75 6C9.75 6.20711 9.5926 6.42707 9.39844 6.42707H2.61Z" fill="#041218"></path>
                </g>
              </svg>
            </div>
            <span class="count-number-tickets">0</span>
            <div class="container-more">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" class="injected-svg" data-src="/static/images/icons/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Icon / Simple / Plus">
                  <path id="Plus-273" fill-rule="evenodd" clip-rule="evenodd" d="M9.57129 3.90234C9.57129 3.19922 8.45512 3.19922 8.45512 3.90234V8.47266H3.90234C3.19922 8.47266 3.19922 9.56717 3.90234 9.56717H8.45005V14.0977C8.45005 14.8008 9.57129 14.8008 9.57129 14.0977V9.5874H14.0977C14.8008 9.5874 14.8008 8.47266 14.0977 8.47266H9.57129V3.90234Z" fill="#041218"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="container-tickets">
          <div class="container-ticket-name-price">
            <div class="container-ticket">
              <%= render "chose_seats_and_more_partial/svg_tickets_full" %>
            </div>
            <div class="container-paragraph-and-price">
              <span>Meia ELO</span>
              <span>R$ 21,76</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-back-skip">
    <div class="container-button-back"><button class="button-back">VOLTAR</button></div>
    <div class="container-all-tickets-svg"></div>
    <div class="container-button-skip"><button class="button-skip">AVANÇAR</button></div>
  </div>
</div>