<%= render 'chose_seats_and_more_partial/nav' %>
<div class="container-body-chose-seats-and-more">
  <div class="container-seats-type-tickets-bomboniere-payment">
    <div class="div-svg-seats-type-tickets-bomboniere-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_seats" %>
    </div>
    <div class="div-svg-seats-type-tickets-bomboniere-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_tickets" %>
    </div>
    <div class="div-svg-seats-type-tickets-bomboniere-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_bomboniere" %>
    </div>
    <div class="div-svg-seats-type-tickets-bomboniere-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_payment" %>
    </div>
  </div>
</div>