<%= render 'chose_seats_and_more_partial/nav' %>
<div class="container-body-chose-seats-and-more">
  <div class="container-seats-type-tickets-bomboniere-payment">
    <div class="div-svg-chose-of-seats">
      <%= render "chose_seats_and_more_svg_partial/svg_seats" %>
    </div>
    <div class="line-white-1"></div>
    <span class="span-chose-ofseats">ESCOLHA DE ASSENTOS</span>
    <div class="div-svg-tickets">
      <%= render "chose_seats_and_more_svg_partial/svg_tickets" %>
    </div>
    <span class="span-types-tickets">TIPOS DE INGRESSOS</span>
    <span class="span-bomboniere">BOMBONIERE</span>
    <div class="line-white-2"></div>
    <div class="div-svg-bomboniere">
      <%= render "chose_seats_and_more_svg_partial/svg_bomboniere" %>
    </div>
    <div class="line-white-3"></div>
    <div class="div-svg-payment">
      <%= render "chose_seats_and_more_svg_partial/svg_payment" %>
    </div>
  </div>
  <div class="container-chose-seat-number-resume-order-main">
    <div class="container-chose-seat-number">
      <div class="container-location-date-hour-movie">
        <div class="container-svg-name">
          <%= render "chose_seats_and_more_svg_partial/svg_location" %>
          <span class="span-location-chose-seats-and-more"></span>
        </div>
        <div class="container-svg-name">
          <%= render "chose_seats_and_more_svg_partial/svg_calendar" %>
          <span class="span-calendar-chose-seats-and-more"></span>
        </div>
        <div class="container-svg-time-name">
          <%= render "chose_seats_and_more_svg_partial/svg_time" %>
          <span class="span-time-chose-seats-and-more"></span>
        </div>
        <div class="container-name-movie-location-hour-date">
        </div>
      </div>
      <div class="container-seats-chose-seats-and-more-main">
        <div class="container-seats-chose-seats-and-more-1">
          <div class="container-seats-chose-seats-and-more-2">
          </div>
        </div>
        <div class="container-show-number-seats">
          <span class="span-show-number-seats">Exibir números dos assentos</span>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle" class="toggle-checkbox">
            <label for="toggle" class="toggle-label"></label>
          </div>
        </div>
        <div class="container-zoomin-zoomout">
          <div class="container-svg-zoom-more">
            <%= render "chose_seats_and_more_svg_partial/svg_zoom_in" %>
          </div>
          <div class="container-progress-bar">
            <div class="container-ball-progress-bard"></div>
          </div>
          <div class="container-svg-zoom-less">
            <%= render "chose_seats_and_more_svg_partial/svg_zoom_out" %>
          </div>
        </div>
      </div>
      <%= render "chose_seats_and_more_partial/caption_all_chose_seats" %>
    </div>
    <%= render "chose_seats_and_more_partial/order_summary" %>
    <%= render "chose_seats_and_more_partial/tickets" %>
    <%= render "chose_seats_and_more_partial/bomboniere" %>
    <div class="container-payment">
      <div class="container-method-payment">
        <div class="container-credit-card">
          <div class="container-svg-credit-card">
            <%= render "chose_seats_and_more_svg_partial/svg_credit_card" %>
          </div>
          <span>Cartão de crédito</span>
        </div>
        <div class="container-debit-card">
          <div class="container-svg-debit-card">
            <%= render "chose_seats_and_more_svg_partial/svg_debit_card" %>
          </div>
          <span>Cartão de débito</span>
        </div>
        <div class="container-pix">
          <div class="container-svg-pix">
            <%= render "chose_seats_and_more_svg_partial/svg_pix" %>
          </div>
          <span>Pix</span>
        </div>
        <div class="container-google-pay">
          <div class="container-svg-google-pay">
            <%= render "chose_seats_and_more_svg_partial/svg_google_pay" %>
          </div>
          <span>Google Pay</span>
        </div>
      </div>
      <div class="container-discount-line">
        <span class="span-discount">Desconto</span>
        <div class="container-line-white-discount"></div>
      </div>
      <div class="container-clube-uol">
        <div class="container-img-clube-uol-button-arrow-down-arrow-up">
          <div class="container-img-clube-uol">
            <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1703514340/logo_header_hksemr.png" alt="clube-uol">
          </div>
          <div class="container-svg-arrow-down">
            <%= render "chose_seats_and_more_svg_partial/svg_arrow_down" %>
          </div>
          <div class="container-svg-arrow-up">
            <%= render "chose_seats_and_more_svg_partial/svg_arrow_up" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-back-skip">
    <div class="container-button-back"><button class="button-back">VOLTAR</button></div>
    <div class="container-all-tickets-svg-1"></div>
    <div class="container-all-tickets-svg-2"></div>
    <div class="container-button-skip"><button class="button-skip">AVANÇAR</button></div>
  </div>
</div>
<%= render "chose_seats_and_more_svg_partial/svg_warning" %>
