<div id="<%= dom_id form_of_payment %>">
  <p>
    <strong>Form Name:</strong>
    <%= form_of_payment.form_name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= form_of_payment.price %>
  </p>
  <p>
    <strong>Movie Id:</strong>
    <%= form_of_payment.movie_id %>
  </p>
  <p>
    <strong>Cinema Id:</strong>
    <%= form_of_payment.cinema_id %>
  </p>
</div>
