<p style="color: green"><%= notice %></p>
<h1 class="h3 mb-4 text-gray-800">Cinemas</h1>
<div class="row">
  <div class="col-lg-12">
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th>NameCinema</th>
            <th>District</th>
            <th>Ranking</th>
            <th>Ações</th>
          </thead>
          <tbody>
            <%  @cinemas.each do | cinema | %>
              <tr>
                <td><%= cinema.title %></td>
                <td><%= cinema.description %></td>
                <td class="col-lg-3">
                  <%= link_to "Details", admin_cinema_path(cinema), class: 'btn btn-primary' %>
                  <%= link_to "Edit", edit_admin_cinema_path(cinema), class: 'btn btn-secondary' %>
                  <%= link_to "Delete", admin_cinema_path(cinema), class: 'btn btn-danger', method: :delete,  data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente excluir?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "New cinema", new_admin_cinema_path, "data-controller": "admin-modal", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
