<div class="container-payment">
  <div class="container-method-payment">
    <div class="container-credit-card-main">
      <div class="container-credit-card">
        <div class="container-svg-credit-card">
          <%= render "chose_seats_and_more_svg_partial/svg_credit_card" %>
        </div>
        <span>Cartão de crédito</span>
      </div>
    </div>
    <div class="container-debit-card-main">
      <div class="container-debit-card">
        <div class="container-svg-debit-card">
          <%= render "chose_seats_and_more_svg_partial/svg_debit_card" %>
        </div>
        <span>Cartão de débito</span>
      </div>
    </div>
    <div class="container-pix-main">
      <div class="container-pix">
        <div class="container-svg-pix">
          <%= render "chose_seats_and_more_svg_partial/svg_pix" %>
        </div>
        <span>Pix</span>
      </div>
    </div>
    <div class="container-google-pay-main">
      <div class="container-google-pay">
        <div class="container-svg-google-pay">
          <%= render "chose_seats_and_more_svg_partial/svg_google_pay" %>
        </div>
        <span>Google Pay</span>
      </div>
    </div>
  </div>
  <div class="container-discount-line">
    <span class="span-discount">Desconto</span>
    <div class="container-line-white-discount"></div>
  </div>
  <div class="container-clube-uol-payment">
    <div class="container-img-clube-uol-button-arrow-down-arrow-up">
      <div class="container-img-clube-uol-payment">
        <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1703514340/logo_header_hksemr.png" alt="clube-uol">
      </div>
      <div class="container-svg-arrow-down-up">
        <%= render "chose_seats_and_more_svg_partial/svg_arrow_down" %>
      </div>
    </div>
    <span class="span-subscriber-uol">Assinante UOL tem 2 ingressos por mês sem taxa de serviço. <span class="span-know-more">Saiba mais</span></span>
  </div>
  <div class="container-ticket-gift-card-and-arrow">
    <div class="container-tickets-arrow">
      <div class="container-svg-tickets-gift-card">
        <div class="container-svg-tickets">
          <%= render "chose_seats_and_more_svg_partial/svg_tickets_payment" %>
        </div>
        <span class="span-tickers-gift-card">Cupom e vale-presente</span>
      </div>
      <div class="container-svg-arrow-down-up-tickets-gift-card">
        <%= render "chose_seats_and_more_svg_partial/svg_arrow_down" %>
      </div>
    </div>
  </div>
</div>
<%= render "chose_seats_and_more_partial/all_card_for_payment_svgs" %>
<div class="container-info-bottom-google-pay-for-payment">
  <span class="span-1-info-bottom-google-pay-for-payment">Com o Google Pay é muito rápido e fácil de pagar. Ele reúne tudo que você precisa para finalizar sua compra, com as mesmas vantagens e benefícios de seus cartões físicos. E sua informação fica protegida em uma das infraestruturas de segurança mais avançadas do mundo.</span>
  <span class="span-2-info-bottom-google-pay-for-payment">Prossiga clicando no botão Google Pay.</span>
  <div class="container-pay-with-gpay">
    <button id="google-pay-button">Pagar com o <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1714327470/GPAYFULLWHITE_gdrqhd.png" alt="gpay"></button>
  </div>
</div>
