<div class="container-types-tickets">
  <div class="container-clube-uol">
    <div class="container-img-clube-uol">
      <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1703514340/logo_header_hksemr.png" alt="clube-uol">
    </div>
    <p class="paragraph-clube-uol">Assinante UOL tem isenção de taxa de serviço em até 2 ingressos por mês. <span class="span-clube-uol">Saiba mais</span></p>
  </div>
  <div class="container-types-tickets">
    <% @form_of_payments && @form_of_payments.each do | dp | %>
      <div class="container-tickets">
        <div class="container-ticket-name-price">
          <div class="container-ticket">
            <%= render "chose_seats_and_more_partial/svg_tickets_full" %>
          </div>
          <div class="container-paragraph-and-price">
            <span class="span-type-payment"><%= dp.form_name %></span>
            <span>R$ <%= dp.price %></span>
          </div>
        </div>
        <div class="container-more-less">
          <div class="container-less-svg">
            <%= render "chose_seats_and_more_svg_partial/svg_less" %>
          </div>
          <span class="count-number-tickets">0</span>
          <div class="container-more-svg">
            <%= render "chose_seats_and_more_svg_partial/svg_more" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>