<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Showzim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag "devise",  "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="container-main">
      <div class="container-ingresso-top-yield">
        <%= render 'layouts/devise/ingresso_top' %>
        <%= render 'layouts/shared/flash' if flash.present? %>
        <%= yield %>
      </div>
      <%= render 'layouts/devise/footer_address' %>
    </div>
    <%# <%= yield %> <%# esse yield parece ser a a propria view que vai carrgar aqui, e qualque coisa que eu colocar em volta dela vai carregar em todos %>
  </body>
</html>
